<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title class="articleHeaderTitle">Elites Online TV - Access the world at home</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Elites Online TV - Access the world at home" name="keywords">
        <meta content="Elites Online TV - Access the world at home" name="description">

        <!-- Favicon -->
        <link href="/img/download.png" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="public/css/lib/slick/slick.css" rel="stylesheet">
        <link href="/css/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Top Header Start -->
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="/img/download.png" alt="Logo">
                                <!-- <span>Elites Online TV</span> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->


        <!-- Header Start -->
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">Elites</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav m-auto">
                            <a href="/" class="nav-item nav-link active">Home</a>
                            <a href="/sports" class="nav-item nav-link">Sports</a>
                            <a href="technology" class="nav-item nav-link">Tech</a>
                            <a href="/business" class="nav-item nav-link">Business</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                <div class="dropdown-menu">
                                    <a href="/localnews" class="dropdown-item">Local News</a>
                                    <a href="/sports" class="dropdown-item">Sports</a>
                                </div>
                            </div>
                            <a href="/breakingnews" class="nav-item nav-link">Breaking News</a>
                            <a href="/politics" class="nav-item nav-link">Politics</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Header End -->
        
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">News</a></li>
                    <li class="breadcrumb-item active">News details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main News Start-->
        <div class="main-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><i class="fas fa-align-justify"></i>Latest News</h2>
                                <div class="row">
                                    <!-- <div class="col-lg-6 mainLatestNews">
                                        
                                    </div> -->
                                    
                                    <div class="col-lg-6 latestNews-aside" style="margin-top: 15px;">
                                        <!-- LATEST NEWS HERE/BREAKING NEWS -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!-- <h2><i class="fas fa-align-justify"></i>Popular News</h2>
                                <div class="row">
                                    <div class="col-lg-6 maintopPopular">
                                        
                                    </div>
                                    
                                    <div class="col-lg-6 popularNews-aside" style="margin-top: 15px;">
                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Category</h2>
                                <div class="category">
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/national">National</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/international">International</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/economics">Economics</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/politics">Politics</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/lifestyle">Lifestyle</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/technology">Technology</a></li>
                                        <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="/business">Trades</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Tags</h2>
                                <div class="tags">
                                    <a href="/national">National</a>
                                    <a href="/international">International</a>
                                    <a href="/economics">Economics</a>
                                    <a href="/politics">Politics</a>
                                    <a href="/lifestyle">Lifestyle</a>
                                    <a href="/technology">Technology</a>
                                    <a href="/business">Trades</a>
                                    <a href="national">National</a>
                                    <a href="/international">International</a>
                                    <a href="/economics">Economics</a>
                                    <a href="/politics">Politics</a>
                                    <a href="/lifestyle">Lifestyle</a>
                                    <a href="/technology">Technology</a>
                                    <a href="/business">Trades</a>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Advertise Here</h2>
                                <div class="image">
                                    <a href="/"><img src="img/18505053_SL-070720-32260-24.jpg" alt="Image"></a>
                                </div>
                            </div>

                            <div class="sidebar-widget">
                                <h2><i class="fas fa-align-justify"></i>Advertisement</h2>
                                <div class="image">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="/"><img src="img/9504695_26693.jpg" alt="Image"></a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="/"><img src="img/9504695_26693.jpg" alt="Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main News End-->
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Special Section</h3>
                            <ul>
                                <li><a href="#">Tourism</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">Supplement</a></li>
                                <li><a href="#">Opinions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Opinion</h3>
                            <ul>
                                <li><a href="#">Uganda Talks</a></li>
                                <li><a href="#">Guest Column</a></li>
                                <li><a href="#">Comment</a></li>
                                <li><a href="#">Insight</a></li>
                                <li><a href="#">Society</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>ABC Building Ibanda Main st.</p>
                                <p><i class="fa fa-envelope"></i>info@elitesonlinetv.com</p>
                                <p><i class="fa fa-phone"></i>+256778281586</p>
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook"></i></a>
                                    <a href=""><i class="fab fa-linkedin"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Newsletter</h3>
                            <div class="newsletter">
                                <p>
                                    Get the best of Elites Onlite TV in your inbox.
                                </p>
                                <form>
                                    <input class="form-control" type="email" placeholder="Your email here">
                                    <button class="btn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="#">Elites Online TV</a>. All Rights Reserved</p>
                    </div>

                    <div class="col-md-6 template-by">
                        <p>Designed by <a href="https://joshtecs.com">Joshtecs</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->


        <!-- Back to Top -->
        <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/slick/slick.min.js"></script>


        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/contentful@5.0.1/dist/contentful.browser.min.js"></script>
        <script src="/js/article.js" type="application/javascript"></script>
    </body>
</html>
